<!-- templates/create_family.html -->
{% extends "core/partials/base.html" %}


{% block content %}
<div class="main-content mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Create Family</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="file_number">File Number</label>
                    <input type="text" id="file_number" name="file_number" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea id="address" name="address" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <input type="text" id="phone_number" name="phone_number" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Create Family</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
