{% extends "core/partials/base.html" %}
{% load static %}
{% block content %}
<div class="main-content mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Create Appointment</h4>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="patient">Patient</label>
                    <select name="patient" id="patient" class="form-control select2" required>
                        <option value="" disabled selected>Select a patient</option>
                        {% for patient in patients %}
                        <option value="{{ patient.id }}">[{{patient.patient_file_number}}] {{ patient.first_name }} {{ patient.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="doctor">Doctor</label>
                    <select name="doctor" id="doctor" class="form-control select2" required>
                        <option value="" disabled selected>Select a doctor</option>
                        {% for doctor in doctors %}
                        <option value="{{ doctor.id }}">Dr. {{ doctor.profile.user.first_name }} {{ doctor.profile.user.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="appointment_date">Appointment Date</label>
                    <input type="datetime-local" name="appointment_date" class="form-control" id="appointment_date" required>
                </div>
                <div class="form-group">
                    <label for="reason">Reason</label>
                    <textarea name="reason" class="form-control" id="reason"></textarea>
                </div>
                <div class="form-group">
                    <label for="reason_category">Reason Category</label>
                    <select name="reason_category" id="reason_category" class="form-control">
                        <option value="General Consultation">General Consultation</option>
                        <option value="Pediatrics">Pediatrics</option>
                        <option value="Antenatal Care">Antenatal Care</option>
                        <option value="GynecologyRegistration">Gynecology Registration</option>
                        <option value="GynecologyFollowUp">Gynecology Follow Up</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Gastroenterology">Gastroenterology</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="Scheduled">Scheduled</option>
                        <option value="Completed">Completed</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Create Appointment</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
