{% extends "core/partials/base.html" %}
{% load static humanize %}
{% block content %}
<div class="main-content mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Filter Payments</h4>
        </div>
        <div class="card-body">
            <!-- Messages Section -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible show fade">
                        <div class="alert-body">
                            <button class="close" data-dismiss="alert">
                                <span>&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Filter Form -->
            <form method="GET" action="{% url 'payments' %}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="created_by">Created By</label>
                            <select id="created_by" name="created_by" class="form-control select2">
                                <option value="">Select User</option>
                                {% for profile in profiles %}
                                    <option value="{{ profile.id }}" {% if request.GET.created_by == profile.id|stringformat:"s" %}selected{% endif %}>
                                        {{ profile }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="start_date">Start Date</label>
                            <input type="date" id="start_date" name="start_date" class="form-control" value="{{ request.GET.start_date|default:default_start_date }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="end_date">End Date</label>
                            <input type="date" id="end_date" name="end_date" class="form-control" value="{{ request.GET.end_date|default:default_end_date }}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="service_type">Service Type</label>
                            <select id="service_type" name="service_type" class="form-control select2">
                                <option value="">All Services</option>
                                <option value="Medication" {% if request.GET.service_type == 'Medication' %}selected{% endif %}>Medication</option>
                                <option value="Investigation" {% if request.GET.service_type == 'Investigation' %}selected{% endif %}>Investigation</option>
                                <option value="Others" {% if request.GET.service_type == 'Others' %}selected{% endif %}>Others</option>
                                {% for service in service_types %}
                                    <option value="{{ service.id }}" {% if request.GET.service_type == service.id|stringformat:"s" %}selected{% endif %}>
                                        {{ service.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="payment_method">Payment Method</label>
                            <select id="payment_method" name="payment_method" class="form-control select2">
                                <option value="">All Methods</option>
                                {% for method in payment_methods %}
                                    <option value="{{ method }}" {% if request.GET.payment_method == method %}selected{% endif %}>
                                        {{ method }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% include 'core/partials/_date_quick_filters.html' %}
                <button type="submit" class="btn btn-primary">Filter</button>
                <button type="submit" name="export" value="true" class="btn btn-success">Export to Excel</button> <!-- New Export Button -->
            </form>
            <hr>

            <!-- Display the total amount if calculated -->
            {% if total_amount is not None %}
                <h5>Total Amount for Selected Filters: ₦{{ total_amount|floatformat:2|intcomma }}</h5>
            {% endif %}

            <!-- Payments Table -->
            <table class="table table-striped" id="table-1">
                <thead>
                    <tr>
                        <th>Payment ID</th>
                        <th>Amount</th>
                        <th>Payment Method</th>
                        <th>Date</th>
                        <th>Created By</th>
                        <th>Patient/Family/Custom</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>{{ payment.payment.payment_number }}</td>
                            <td>₦{{ payment.payment.amount|floatformat:2|intcomma }}</td>
                            <td>{{ payment.payment.payment_method }}</td>
                            <td>{{ payment.payment.payment_date|date:"Y-m-d" }}</td>
                            <td>{{ payment.payment.created_by.user.username }}</td>
                            <td>{{ payment.details }}</td>
                            <td>
                                {% for item in payment.payment.invoice.items.all %}
                                    {% if item.medication %}
                                        Medication: {{ item.medication.name }} x {{ item.quantity }}
                                    {% elif item.investigation_request %}
                                        Investigation: {{ item.investigation_request.investigation.name }} x {{ item.quantity }}
                                    {% elif item.service %}
                                        Service: {{ item.service.name }} x {{ item.quantity }}
                                    {% elif item.description %}
                                        Other: {{ item.description }} x {{ item.quantity }}
                                    {% endif %}
                                    <br>
                                {% endfor %}
                            </td>
                            <td>
                                {% if request.user.profile.role == "Admin" or request.user.profile.role == "Accountant" %}
                                <a href="{% url 'edit_payment' payment.payment.id %}" class="btn btn-warning">Edit</a>
                                <a href="{% url 'delete_payment' payment.payment.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8">No payments found matching the criteria.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- Include Select2 CSS and JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>

<script>
    $(document).ready(function() {
        $('.select2').select2({
            width: '100%',
            theme: 'bootstrap4'
        });
    });
</script>
{% endblock content %}
